html {scroll-behavior: smooth;}
body {
    margin:0;
    width: 100%;
    background-color: #060606;
    color: #fff;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 16px;
}

h1 {font-size: 30px;}
h2 {font-size: 25px;}

/* ===SCROLLBAR============================================================================================ */
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #222222;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5F5E5E;
  }
/* =============================================================================================== */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #060606;
  top: 0;
  width: 100%;
}

.nav li {
  float: left;
  margin-left: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
    color: rgb(172, 172, 172);
    border-bottom: 1px solid #fff;
}

.active {
    border-bottom: 1px solid #fff;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.content-space {
    margin-top: 75px;
}

@keyframes fade-in {
    from {opacity: 0; transform: translateX(-20px);}
    to   {opacity: 1; transform: translateX(0);}
}
.fade-in-element {
  animation: fade-in .7s;
}

@keyframes fade-out {
    from {opacity: 1; transform: translateX(0);}
    to   {opacity: 0; transform: translateX(-20px);}
}

.fadeItem {
    animation: fade-out .7s forwards;
  }


.rotate {

    transform: rotate(90deg);
  
    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(90deg);
  
    /* Firefox */
    -moz-transform: rotate(90deg);
  
    /* IE */
    -ms-transform: rotate(90deg);
  
    /* Opera */
    -o-transform: rotate(90deg);
  
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
  }

.black-box {
    width: 0vw;
    height: 100%;
    position: fixed;
    background: #000;
    opacity: .5;
    z-index: 10000;
}

@keyframes fade-in-cart {
    from {opacity: 0;}
    to   {opacity: .5;}
}

.card-fade-in {
    animation: fade-in-cart .7s;
}


/*nav*/
.nav {
    position: fixed;
    display: flex;
    width: calc(100% - 70px);
    z-index: 10000;
    transition: transform 1s ease,opacity .7s ease;
}
.nav-collapse-js .nav-bar .nav  {
    transform: translateX(-100vw);
    opacity: 0;
}
.nav-collapse {
    position: fixed;
    display: flex;
    opacity: 1;
    z-index: 9999;
}
.nav-collapse .logo-div {
    width: 54px;
    height: 54px;
}
.nav-collapse .logo-div img {
    margin-left: 3px;
}
.nav-collapse .fa-fa-div {
    width: 55px;
    background: #060606;
    cursor: pointer;
}
.nav-collapse .fa-fa-div img {
    width: 65%;
    margin-left: 9px;
    margin-top: 9px;
}


.logo-div {
    background-color: #fff;
    width: 235px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo-div a {
    color: #060606;
    font-size: 22px;
    margin-left: 10px;
}
.logo-div a:visited {color:#060606;}
.logo-div img {
    height: 45px;
}

/*sidebar*/
.show-order {
    width: 70px;
    right: 0;
    float: right;
    height: 100%;
    background-color: #060606;
    position: fixed;
    transition: .3s ease background-color;
    display: flex;
    z-index: 11000;
}
.side-bar {
    right: 0;
    width: 70px;
    height: 100%;
    cursor: pointer;
    background-color: #060606;
}
.text-sidebar {
    padding-top: 120px;
}
.text-sidebar:nth-child(2n+2) {
    margin-top: 10px;
}
.side-bar h2 {
    color: #fff;
}
.sidebar-left-arrow {
    font-size: 30px;
    color: #fff;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    transition: ease 1s transform;
}

.help-spatie {
    height: 1px;
    margin: -6px;
}

/*sidebar content*/
.shopping-cart {
    width: 0px;
    overflow: hidden;
}
.show-order {
    transition: ease 1s width;
    overflow: hidden;
}
.cart {
    opacity: 0;
    transition: ease 1s opacity;
    transition-delay: .5s;
    margin-left: 20px;
}
.cart p {font-size: 20px;}
.cart h2 {font-size: 35px; font-weight: normal;}

.order {
    padding-top: 20px;
    border-top: 1px solid #717171;
    border-bottom: 1px solid #717171;
}
.order p {
    margin-top: 60px;
    margin-bottom: 0px;
}
.order-button {
    margin-top: 20px;
    background: transparent;
    color: #fff;
    padding: 3px 10px 10px 10px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease all;
}
.order-button:hover {
    background: #219EC0;
    border-color: #219EC0;
}
.order-button:hover .order-button-arrow-right {
    margin-left: 13px;
    margin-right: 0px;
}
.order-button-arrow-right {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 3px;
    transition: .5s ease margin;
}

.order-item-container {
    overflow: auto;
    max-height: 500px;
}

.order-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.order-item-bigger-content-container {
    display: flex;
}
.order-item-content-container {
    margin-left: 20px;
}
.order-item-button {
    margin-top: 20px;
    background: transparent;
    color: #777777;
    border: 0px;
    cursor: pointer;
    padding-left: 0px;
}
.order-item-price-container {
    margin-right: 10px;
}
.order-item p {
    margin-top: 0px;
}
.order-item img {
    max-width: 70px;
}

/*main*/
.main {
    padding-top: 54px;
    margin-left: 110px;
    max-width: calc(100% - 180px);
}

.circle-image {
    background-image: url(images/p-b-i.svg);
    background-size: 1100px;
    background-position: 400px 40px;
    background-repeat: no-repeat;
    height: 1200px;
}

.content-header {
    padding-top: 180px;
    height: 630px;
}
.content-header h1 {font-weight: 400;}

.marker {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
}
.top-line {
    width: 1px;
    height: 70px;
    margin-right: 70px;
    background-color: #717171;
}


/* Home page */
.home .footer {
    margin-top: 880px;
}
.home-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-content-container img {
    width: 100%;
    opacity: .5;
    transition: .5s ease;
}
.order-home-div, .learn-things-div {
    cursor: pointer;
    overflow: hidden;
    height: 525px;
    width: 100%;
}
.order-home-div h1, .learn-things-div h1 {
    margin-top: -100px;
    margin-left: 30px;
    position: absolute;
    font-size: 65px;
}
.order-home-div .image-div-home, .learn-things-div .image-div-home {
    overflow: hidden;
    height: 380px;
    width: 100%;
}
.order-home-div img, .learn-things-div img {
    margin-top: -220px;
}
.order-home-div {
    margin-bottom: 0px;
}
.order-home-div, .learn-things-div {
    height: 100%;
}

.lil-home-divs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.better-deal-div, .free-deal-div {
    cursor: pointer;
    overflow: hidden;
    height: 525px;
    width: 48%;
}
.better-deal-div .image-div-home, .free-deal-div .image-div-home{
    overflow: hidden;
    height: auto;
    width: 100%;
}
.better-deal-div h1, .free-deal-div h1 {
    margin-top: -100px;
    margin-left: 30px;
    position: absolute;
    font-size: 65px;
}
.learn-things-div {
    margin-top: 0px;
}

.learn-things-div img:hover, .order-home-div img:hover {
    width: 103%;
    margin-left: -1%;
    margin-bottom: -1%;
}

@media (max-width: 767px) {
    .better-deal-div h1, 
    .free-deal-div h1 {
        font-size: 40px;
        margin-top: -70px;
    }
    .order-home-div h1, 
    .learn-things-div h1 {
        font-size: 40px;
        margin-top: -70px;
    }
    .lil-home-divs {
        flex-wrap: wrap;
    }
    .better-deal-div, .free-deal-div {
        width: 100%;
    }
    .better-deal-div, .free-deal-div {
        height: 220px;
        margin-bottom: 20px;
    }
    .better-deal-div img:hover, .free-deal-div img:hover {
        width: 103%;
        margin-left: -1%;
        margin-bottom: -1%;
    }
    .order-home-div, .learn-things-div {
        height: 100%;
    }
    .home .footer {
        margin-top: 540px;
    }
    .order-home-div img, 
    .learn-things-div img, 
    .better-deal-div img,
    .free-deal-div img {
        margin-top: -50px;
    }
    .order-home-div {
        margin-bottom: 20px;
    }
    .learn-things-div {
        margin-top: 0px;
    }
    .order-home-div .image-div-home, 
    .learn-things-div .image-div-home, 
    .better-deal-div .image-div-home,
    .free-deal-div .image-div-home {
        height: 220px;
    }
}
@media (min-width: 768px) {
    .better-deal-div h1, 
    .free-deal-div h1 {
        font-size: 33px;
        margin-top: -100px;
    }
    .order-home-div h1, 
    .learn-things-div h1 {
        font-size: 33px;
        margin-top: -60px;
    }
    .better-deal-div img:hover, .free-deal-div img:hover {
        width: 105%;
        margin-left: -2%;
        margin-top: -3.1%;
    }
    .better-deal-div, .free-deal-div {
        height: 200px;
    }
    .order-home-div, .learn-things-div {
        height: 100%;
    }
    .home .footer {
        margin-top: 330px;
    }
    .order-home-div img, .learn-things-div img {
        margin-top: -100px;
    }
    .order-home-div {
        margin-bottom: 20px;
    }
    .learn-things-div {
        margin-top: 0px;
    }
    .order-home-div .image-div-home, .learn-things-div .image-div-home {
        height: 220px;
    }
}
@media (min-width: 860px) {
    .learn-things-div {
        margin-top: 20px;
    }
}
@media (min-width: 992px) {
    .better-deal-div h1, 
    .free-deal-div h1 {
        font-size: 40px;
        margin-top: -65px;
    }
    .order-home-div h1, 
    .learn-things-div h1 {
        font-size: 40px;
        margin-top: -70px;
    }
    .better-deal-div, .free-deal-div {
        height: 287px;
    }
    .order-home-div, .learn-things-div {
        height: 100%;
    }
    .home .footer {
        margin-top: 620px;
    }
    .order-home-div img, .learn-things-div img {
        margin-top: -120px;
    }
    .order-home-div {
        margin-bottom: 40px;
    }
    .learn-things-div {
        margin-top: 40px;
    }
    .order-home-div .image-div-home, .learn-things-div .image-div-home {
        height: 300px;
    }
}
@media (min-width: 1200px) {
    .better-deal-div h1, 
    .free-deal-div h1, 
    .order-home-div h1, 
    .learn-things-div h1 {
        font-size: 65px;
        margin-top: -100px;
    }
    .better-deal-div, .free-deal-div {
        height: 100%;
    }
    .order-home-div, .learn-things-div {
        height: 100%;
    }
    .learn-things-div {
        margin-top: 50px;
    }
    .order-home-div {
        margin-bottom: 50px;
    }
    .home .footer {
        margin-top: 1020px;
    }
    .order-home-div img, .learn-things-div img {
        margin-top: -220px;
    }
    .order-home-div .image-div-home, .learn-things-div .image-div-home {
        overflow: hidden;
        height: 380px;
        width: 100%;
    }
}


/* pizza filter styling */
.all-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pizza-filter {
    background-color: #111111;
    flex: 100%;
    max-width: 100%;
    cursor: pointer;
}
.pizza-filter:hover .pizza-filter-img img {
    width: 105%;
    margin-left: -2%;
    margin-bottom: -1.5%;
    margin-top: -1.5%;
}
.pizza-filter h2, .pizza-filter p {
    margin: 0; 
    margin-left: 20px; 
    font-weight: 400;
}
.pizza-filter h2 {margin-top: 20px; transition: ease .5s color;}
.pizza-filter p {padding-bottom: 20px; color: #717171;}

.pizza-filter-img {
    width: 100%;
    overflow: hidden;
}
.pizza-filter-img img {
    width: 100%;
    transition: .5s ease;
}
#pizza-filter-img-1, #pizza-filter-img-2, #pizza-filter-img-3, #pizza-filter-img-4 {
    opacity: 1;
    transition: ease .5s opacity;
}
.pizza-filter-text {
    border: 1px solid #222222;
}

.header-filter {
    display: flex;
    align-items: center;
}
.filter-arrow {
    margin-left: 50px;
    margin-top: 12px;
    font-size: 40px;
    transition: ease .5s transform;
}

.gray-box {
    background-color: #111111;
    width: 100%;
    height: 300px;
    margin-top: -160px;
}

@media (min-width: 768px) {
    .pizza-filter {
      flex: 100%;
      max-width: 100%;
    }
}
  
@media (min-width: 992px) {
    .pizza-filter {
      flex: 50%;
      max-width: 50%;
    }
}

@media (min-width: 1200px) {
    .pizza-filter {
      flex: 25%;
      max-width: 25%;
    }
}

/* pizza list styling */
.product__pizza__list__item__container {
    display: flex;
    margin-bottom: 15px;
}

.product__pizza__list__img {
    max-height: 200px;
}

.product__pizza__list__text__container {
    position: relative;
    overflow: auto;
    max-height: 200px;
    margin-left: 10px;
}

.product__pizza__list__button__container {
    position: absolute;
    bottom: 0;
}


.product__pizza__list__button {
    border: none;
    background-color: #060606;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 767px) {
    #TheTest {
        margin-top: 830px;
    }    
    .product__pizza__list__item__container {
        flex-wrap: wrap;
    }
    .product__pizza__list__button__container {
        position: sticky;
        width: 100%;
        background: #060606;
        padding-top: 10px;
    }
    .product__pizza__list__img__container {
        flex: 100%;
        max-width: 100%;
    }
    .product__pizza__list__text__container {
        flex: 100%;
        max-width: 100%;
    }
    .cart p {
        font-size: 16px;
    }
    .main {
        padding-top: 54px;
        margin-left: 10px;
        max-width: calc(100% - 90px);
    }
    .circle-image {
        background-size: 880px;
        background-position: 0px 120px;
    }
    .nav {
        display: unset;
        height: 100%;
    }
    .logo-div {
        width: 100%;
        height: 80px;
    }
    ul {
        width: 100%;
        height: 100%;
    }
    .nav li {
        float: left;
        margin-left: 110px;
        width: 37%;
    }
    .order-item-price-container {
        width: 50px;
    }
    body .week-all, body .maand-all, body .jaar-all {
        flex: 100%;
    }
    .content-space {
        margin-top: 25px;
    }
    .marker {
        margin-right: 0px;
    }
    .filter-arrow {
        margin-left: 15px;
    }
}
@media (min-width: 768px) {
    #TheTest {
        margin-top: 1470px;
    }   
    .cart p {
        font-size: 16px;
    } 
    .circle-image {
        background-position: 0px 40px;
    }
}
@media (min-width: 992px) {
    #TheTest {
        margin-top: 400px;
    }    
    .cart p {
        font-size: 20px;
    }
}
@media (min-width: 1200px) {
    #TheTest {
        margin-top: 0px;
    }   
    .circle-image {
        background-position: 400px 40px;
    } 
}


/* Subscription page*/
.sub-text h1 {
    margin-bottom: 0;
    font-size: 35px;
}
.sub-text p {
    margin-top: 0;
    color: #717171;
}
.line-bottom-sub {
    margin-top: 20px;
    width: 60px;
    height: 1px;
    border-bottom: 1px solid gray;
}

.free-trial {
    width: 70%;
}
.free-trial-sub {
    width: 300px;
    padding-left: 10px;
    background-size: 0px;
}
.free-trial-background {
    width: 0%;
    background-color: #111111;
    transition: ease .5s width;
    border-left: 3px solid #777777;
}

.free-trial:hover .free-trial-background {width: 100%; cursor: pointer;}

.sub-deals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}
.week-sub, .maand-sub, .jaar-sub {
    width: 100px;
    padding-left: 10px;
    background-size: 0px;
}

.week-background, .maand-background, .jaar-background {
    width: 0px;
    background-color: #111111;
    transition: ease .5s width;
    border-left: 3px solid #777777;
}
.week-all:hover .week-background, .maand-all:hover .maand-background, .jaar-all:hover .jaar-background {
    width: 60%; 
    cursor: pointer;
}
.week-all, .maand-all, .jaar-all {
    width: 300px;
    flex: 33%;
}

@media (max-width: 767px) {
    .week-all, .maand-all, .jaar-all {
        width: 100%;
    }
    .week-all:hover .week-background, .maand-all:hover .maand-background, .jaar-all:hover .jaar-background {
        width: 100%; 
    }
    .free-trial {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .free-trial-background {
        transition: ease 1s width;
    }
}
@media (min-width: 1200px) {
    .free-trial-sub {
        width: 1000px;
    }
}


/* subscription order page's */
.sub-order-top {
    margin-top: 150px;
}
.sub-order-bottom-text {
    margin-bottom: 50px;
}
.sub-order-bottom-text p:nth-child(1) {
    margin-top: 25px;
    margin-bottom: 20px;
}
.sub-all {
    border-left: 3px solid #777777;
}
.sub-details {
    padding-left: 10px;
}
.sub-details h1 {
    margin: 0;
}
.sub-details p {
    margin: 10px 0 5px 0; 
}
.sub-details button {
    margin-bottom: 3px;
}


/* Login page and Sign up page */
input:focus, textarea:focus, select:focus{
    outline: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body#top .no-margin {
    margin: 0;
}

.inputs {
    margin-top: 100px;
}
.inputs input {
    background: transparent;
    border: 0px;
    border-bottom: 2px solid #777777;
    font-size: 18px;
    color: #777777;
    width: 262px;
}
.inputs input::placeholder {
    color: #777777;
}
.inputs input {
    margin-bottom: 10px;
}

.remember-button {
    margin-top: 20px;
    width: 170px;
    margin-left: 43%;
}
.remember-button label {
    color: #777777;
}

.login-button {
    margin-top: 10px;
    background: transparent;
    color: #fff;
    padding: 10px 100px 10px 100px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease all;
}
.login-button:hover {
    background: #219EC0;
    border-color: #219EC0;
}

.content-header.account {
    text-align: center;
}
.content-header.account p {
    font-size: 18px;
    padding: 0 0 0 0px;
    margin-bottom: 0px;
}
.content-header.account a {
    color: #777777;
    transition: .5s ease color;
}
.content-header.account a:hover {
    color: #219ec0;
}


/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    width: 170px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    margin-top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border: 1px solid #777777;
    border-radius: 1px;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

 

@media (max-width: 767px) {
    .remember-button {
        margin-left: 11%;
    }
}
@media (max-width: 424px) {
    .remember-button {
        margin-left: 5%;
    }
}
@media (max-width: 374px) {
    .remember-button {
        margin-left: 3%;
    }
    .inputs input {
        width: 220px;
    }
    .login-button {
        padding: 10px 80px 10px 80px;
    }
} 
@media (min-width: 768px) {
    .remember-button {
        margin-left: 28%;
    }
}
@media (min-width: 992px) {
    .remember-button {
        margin-left: 35%;
    }
}
@media (min-width: 1200px) {
    .remember-button {
        margin-left: 43%;
    }
}
@media (min-width: 1440px) {
    .remember-button {
        margin-left: 40%;
    }
}
@media (min-width: 1920px) {
    .remember-button {
        margin-left: 43%;
    }
}
@media (min-width: 2560px) {
    .remember-button {
        margin-left: 45%;
    }
}


/* Account info page */
.account-info-bottom-all {
    display: flex;
    flex-wrap: wrap;
}
.account-info-bottom-text, .account-info-bottom {
    flex: 50%;
}
.account-info-bottom-text .inputs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.account-info-bottom-text .inputs .input-account {
    flex: 50%;
}
.account-info-bottom-text .inputs .input-account input {
    width: 300px;
    padding-bottom: 6px;
}
.account-info-bottom-text .inputs .input-account p {
    margin-top: 0;
    margin-bottom: 50px;
}
.account-button {
    margin-top: 10px;
    background: transparent;
    color: #fff;
    padding: 10px 30px 10px 30px;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease all;
}
.account-button:hover {
    background: #219EC0;
    border-color: #219EC0;
}
.footer.account-footer {
    margin-top: -130px;
    padding-top: 0;
}


/* footer */
.footer {
    margin-left: 110px;
    padding-top: 150px;
    padding-bottom: 50px;
    max-width: calc(100% - 180px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer a {
    color: #777777;
    transition: .5s ease color;
}
.footer a:hover {
    color: #219ec0;
}
.footer-top {
    flex: 100%;
    margin-top: 500px;
}
.footer-title-big {
    text-transform: uppercase;
    letter-spacing: 11px;
    font-weight: 400;
    font-size: 30px;
}
.footer-title {
    font-weight: 400;
    font-size: 35px;
}
.footer-bottom {
    flex: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.top-button {
    color: #fff;
    cursor: pointer;
}

@media (max-width: 767px) {
    .footer {
        margin-left: 10px;
        max-width: calc(100% - 90px);
    }
}
@media (min-width: 768px) {
    .footer-title-big {
        font-size: 30px;
    }
    .footer-title {
        font-size: 35px;
    }
}
@media (min-width: 992px) {
    .footer-title-big {
        font-size: 45px;
    }
    .footer-title {
        font-size: 55px;
    }
}
@media (min-width: 1200px) {
    .footer-title-big {
        font-size: 45px;
    }
    .footer-title {
        font-size: 55px;
    }
}


@media (max-width: 767px) {
    .hidden-xs {
        display: none
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none
    }
}